*{
    margin:0px;
    padding:0px;
    outline:0px;
}

body{
  -webkit-font-smoothing: antialiased !important;
  font-family:Roboto,Helvetica,sans-serif;
  
}

.header{
  display: flex;
  min-width: 100%;
  height: 150px;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: black;
  background-image: url('../../assests/banner.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.header nav,ul,li{
    display:flex;
    width:80%;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    padding:10px;
    margin:10px;
    opacity: 1.0;
      
} 
a{
    text-decoration: none;
    color:#228B22;
    font-size: 15px;
    font-weight: bold;
 
 }
 .about{
    display:flex;
    flex-direction: column;
    padding:20px;
    margin:20px;
    height:100vh;
 }
 .divImg{
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    margin-top: 10px;
 }
 p{
    color:#696969;
    text-align: justify;
    margin-top: 10px;
    border-bottom: 10px;
 }
 
 hr{
   margin-top: 10px;
   margin-bottom: 10px;
 
 }
 
 span{
    margin-left: 10px;
 }
 .missao ul,nav,li{     
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: flex-start;
    margin-left: -6px;
    
 }
 
 .missao a {
    text-decoration: underline;
 
 }
 .team {
     display:flex;
     flex-direction:row;
}

.team ul,nav,li{
      display:flex;
      flex-direction:column; 
      margin-top: -5px;

}
.team img{
   height:200px;
}

.final  {

   display:flex;
   flex-direction:column;
   margin-top: 10px;
   width:90%;
   align-items:flex-start;
   margin-left: -215px;
   text-align: justify;
}
#spanFinal{
   display:flex;
   flex-direction:row;
   margin-top: 10px;
   margin-left: -215px;
}


